body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-bar {
  background-color: #333;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: fixed;
  left: 40px;
  top: 10px;
  height: 60px;
  width: 100px;
}

.logo img {
  min-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.button-section {
  position: fixed;
  left: 200px;
  height: 80px;
  width: 60%;
}

.button-section button {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 100px;
  top: 40px;
  border-style: none;
  background-color: #656565;
  color: white;
  margin-right: -2px;
}
.create-butt{
  border-style: none;
  background-color: #575757;
  height: 100px;
  width: 150px;
  margin: 0px 5px 5px 0px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;

}
.register-butt{
  border-style: none;
  background-color: #575757;
  height: 100px;
  width: 150px;
  margin: 0px 5px 5px 0px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
}
.active-butt{
  border-style: none;
  background-color: #575757;
  height: 100px;
  width: 150px;
  margin: 0px 5px 5px 0px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  
}
.ended-butt{
  border-style: none;
  background-color: #575757;
  height: 100px;
  width: 150px;
  margin: 0px 5px 5px 0px;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
}

.button-section button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.profile {
  position: fixed;
  right: 40px;
  top: 18px;
  height: 60px;
  width: 44px;
  border-radius: 30px;
}

.profile img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.profile img:hover {
  cursor: pointer;
}

.side-bar {
  background-color: #1a1a1a;
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 20px 0;
}

.main-area {
  position: relative;
  margin-left: 200px;
  margin-right: 0;
  top: 80px;
  background-color: #fffff8;
  padding: 20px;
  min-height: calc(100vh - 80px);
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1500px) and (min-width: 900px) {
  .main-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) and (min-width: 500px) {
  .main-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .main-area {
    grid-template-columns: 1fr;
  }
}

.event {
  display: flex;
  height: 18vw;
  width: 22vw;
  background-color: rgb(115, 177, 230);
  margin: 10px;
  border: 1px solid #ccc;
  margin: 20px;
  border: 1px solid black;
  border-radius: 40px;
  position: relative;
}

.tile {
  width: 12vw;
  height: 13vw;
  background-color: #3c93c9;
  margin: 10px;
  border: 1px solid #ccc;

  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}
