body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.customEvents-sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.main-bar {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 20px;
}

button {
    display: block;
}

.sidebar-btn {
    display: block;
    color: white;
    padding: 16px;
    text-align: left;
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
}

.sidebar-btn:hover {
    background-color: #575757;
}

.content {
    margin-left: 200px;
    padding: 20px;
}
